<%- include('partials/header')  %>
   
 <div class="homemain">
    <div class="textPage">
        <h1>Welcome to our website</h1>
        <p>This is a simple template for a website using Handlebars and SASS. It includes basic navigation, a header, a footer, and two content sections.</p>
        <p>Feel free to customize this template to fit your needs.</p>
    </div>

    <div class="ImagePage"></div>
 </div>
 <div class="buttonStyle">
 <button> <a href="/ViewList"> View List </a></button>
</div>


 <%- include('partials/footer')  %>



