<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body> 
    <h1 style="text-align: center;">Paginate api Data</h1>
    <div class="textPaginate" style="text-align: center;"></div>
    <div style="display: flex;justify-content: space-around;align-items: center;">
        <button class="pre">Pre</button>
        <button class="Next">Next</button>
    </div>
    <script>
        const MainDiv = document.querySelector(".textPaginate");
        const prevBtn = document.querySelector('.pre')
        const nextBtn = document.querySelector('.Next') 
        
         let page = 1 
         const limit = 1

        const LoadLinks = async () => {
            const res = await fetch(`/Users?page=${page}&limit=${limit}`);
            const data = await res.json();
            return data;
        }
    
        const updateContent = async () => {
            const content = await LoadLinks();
            MainDiv.innerHTML = content.paginatedData.map(item => `<p key=${item._id}>${item.name}</p>`)
            let currentPage = content.currentPage 
            let totalPages = content.totalPages
            console.log(content)
            prevBtn.style.display = content.prevPage ? 'block' : 'none';
            nextBtn.style.display = content.nextPage ? 'block' : 'none'; 
     
        }          
       
        nextBtn.addEventListener('click',()=>{
            page++
            // if(3 != page){
            //     page++
                updateContent()
            // }else{
            //     nextBtn.style.display = content.nextPage ? 'block' : 'none'; 
            // }
        })
        
        prevBtn.addEventListener('click',()=>{
            if(page>1){
                page-- 
                updateContent() 
            }
            // }else{
            //     prevBtn.style.display = content.nextPage ? 'block' : 'none'; 
            // }
        })
     
        updateContent()

    </script>
    
</body>
</html>