<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <div class="container">
        <div class="Imagecontainer"></div>

        <div class="formContainer" style="margin-top: 20px;">
            <h3>Please Sign In Bro!!</h3>
            <form>
                 <label>Name</label><div></div>
                 <input type="text" name = "Name" />
                 <div class="NameError" style="color: red;"></div>
                 <pre></pre>
                 <label>Email</label>
                 <div></div>
                 <input type="text" name="Email" />
                 <div class="EmailError" style="color: red;"></div>
                 <pre></pre>
                 <label>Password</label>
                 <div></div>
                 <input type="text" name="Password" />
                 <div class="PasswordError" style="color: red;"></div>
                 <pre></pre>
                 <button>Submit</button>
                 <a href="/Login">please Login</a>
            </form>
        </div>
    </div>
</div>
<script>
    const form = document.querySelector('form')
    const NameError = document.querySelector('.NameError')
    const EmailError = document.querySelector(".EmailError")
    const PasswordError = document.querySelector(".PasswordError")
    form.addEventListener('submit',async(e)=>{
        e.preventDefault()
        //get the value
        let  name = form.Name.value
        let  email = form.Email.value
        let  password = form.Password.value 
        try{
        const response = await  fetch('./SignUp',{
            method : 'POST',
            headers : {'Content-Type' : 'application/json'},
            body : JSON.stringify({name:name,email:email,password:password}) 
        })
         const data =    await response.json()
        //  console.log("show data ",data) 
         if(data.error){
            NameError.textContent = data.error.name
            EmailError.textContent = data.error.email 
            PasswordError.textContent = data.error.password
         }else{
            NameError.textContent = ''
            EmailError.textContent = ''
            PasswordError.textContent = ''
            name = ''
            email = ''
            password = ''
            location.assign('/Login') 
         }
         
        }catch(error){
            console.log("show signIn Error ",error)
        } 
    })
    
       
</script>

</body>
</html>




