<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Ninja Smoothies</h1>
    </div>
    <pre>  </pre>
    <div style="display: flex;justify-content: center;align-items: center;">
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
    </div>
    <pre> </pre>
    <div style="display: flex;justify-content: center;align-items: center;">
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
        <div>
            <img src="./funnyBear.jpg" alt="bear" width="200px" height="200px"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, est?</p>
        </div>
    </div>
</body>     
</html>
