<%- include('partials/header')  %>
    <div style="margin-top: 40px;" class="main_Container">
       <div class="UniverImage">
        <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
       
        </div>
       <div class="UniverImage">
        <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
       
    </div>
       <div class="UniverImage">
        <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
       
    </div>
       <div class="UniverImage">
        <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
       
        </div>
      
    </div>
    <pre>  </pre>

    <div style="margin-top: 40px;" class="main_Container">
        <div class="UniverImage">
         <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
        
         </div>
        <div class="UniverImage">
         <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
        
     </div>
        <div class="UniverImage">
         <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
        
     </div>
        <div class="UniverImage">
         <img src="./Universe.webp" alt="Universe" width="250px" height="200px" />
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rem!</p> -->
        
         </div>
       
     </div>
 <%- include('partials/footer')  %>