.mainRoute{
  border: 2px solid black;
  width: 100%;
  height:50px; 
  background-color: yellowgreen; 
}

.childTable{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.childTable li{
    list-style-type: none;
    font-size: 20px;
}
.homemain{
    display: flex;
    margin-top: 50px;

}
.ImagePage{
    width:100%;
    height:200px;
    /* border:2px solid black; */
    background-image: url('./homepageImage.jpg');
    background-position: center;
    background-size: cover;

}

.buttonStyle button{
    height:50px;
    width:100px;
    border: 2px solid greenyellow;
    font-size: 20px;
    
}

.main_Container{
    width:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}
/* SignIn page style */
.Imagecontainer{
    width:150px;
    height:150px;
    border: 2px solid black;
    background-image: url('./funnyBear.jpg');
    background-position: top;
    background-size: cover;
    border-radius: 50%;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

