<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
</head>
<body>
      <%- include("../partials/header")  %>
      <h1>Welcome to my Blog</h1>
      <ul>
        <% blogposts.forEach(element => {%>
          <a href="./pages/<%= element.id %>"><%= element.title  %></a> <br/> 
       <% }) %> ; 
      </ul>
      <!-- footer -->
      <%- include("../partials/footer")  %>
</body>
</html>